<%- include("header")-%>
    <div class="box">
        <h1  id="heading"> <%= list1 %> </h1>

    </div>

    <div class="box">
        <ul>
            <% for (var i=0; i< newlistitems.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newlistitems[i] %></p>
                </div>
            <% } %>
          </ul>

          <form class="item" action="/" method="post">
            <input type="text" name="Newitem" placeholder="New task" autocomplete="off">
            <button type="submit" name="list" value="<%= list1%>"> +</button>
        </form>
    </div>
  

<%- include("footer")-%>





